*{
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100%;
    background-color:burlywood;
    margin: 0px;
    position: relative;
}
.cont{
    width:100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: cornflowerblue;
}
.input{
    display: flex;
    justify-content: center;
}
input{
    margin-top:5px;
    font-size: 20px;
    width:400px;
}
button{
    margin-top: 5px;
    height:auto;
}
.notd{
    opacity:0;
}
.d{
    opacity:1;
}
.dis{
    width:100%;
    display: block;
    text-align: center;
}
.quo{
    width:100%;
    display: flex;
    justify-content:center;
    height:auto;
}
.quo1{
    width:40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: aquamarine;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}
h3{
    text-align: center;
    color:red;
}